<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript frameworks -->
  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>


  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}{{site.assets.css}}/style.css">

</head>

{% if page.theme == 'dark' %}
  <body class="dark login">
{% else %}
  <body>
{% endif %}

<main>
  <article>

    {{content}}

  </article>
</main>

</body>

<script src="{{site.url}}{{site.baseurl}}{{page.app}}"></script>

</html>

<!--
<script src="app.js"></script>
-->
